@import url("./reset.css");

* {
    font-family: sans-serif;
}

body {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }

.layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flexbox-container{

    display: flex;
    flex-grow: 1;
    background-color: lightgray;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 2rem;
}
.flexbox-item{
    flex-grow: 1;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border-radius: 7px;
    background-color: #e8306c;
    text-align: center;
    font-family: inherit;
    width: 210px;
    height: 4rem;
    line-height: 3rem;
}

.header{
    flex-grow: 1;
    width: 230px;
    padding-bottom: .5rem;
    padding-top: .5rem;
    height: 3rem;
    background-color: #8e2672;
    border-radius: 7px;
    text-align: center;
    color:aliceblue;
    font-size: 1.5rem;
    line-height: 2rem;
}
.article-container{
    flex-grow: 1;
    display: flex;
    background-color: #42c187;
    flex-direction: column;
    padding: .6rem;
    align-items: center;
    width: 230px;
    height: 260px;
    align-items: center;
    margin-top: .1rem;
    border-radius: 7px;
    color: aliceblue;
    font-size: 1.1rem;

}

.aside{
    flex-grow: 1;
    background-color: #1f5c88;
    width: 230px;
    height: 3rem;
    color: aliceblue;
    font-size: 1.5rem;
    margin-top: .2rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 7px;
    
}

.footer{
    flex-grow: 1;
    background-color: #e37424;
    width: 230px;
    height: 3rem;
    color: aliceblue;
    font-size: 1.5rem;
    margin-top: .2rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 7px;
}

@media (min-width: 480px) {
    
    .layout {
        flex-direction: row;       
        justify-content: center;     
        align-items: flex-start;
        gap: 10px;                     
      }
    
      .aside {
        order: -1;                       
        flex-grow: 1;                
        font-size: 1.2rem;           
        line-height: 1.5rem;
        height: 260px;
        width: 300px;
    
      }
    
      .flexbox-container {
        width: 350px;
        flex-grow: 1; 
      }

      .header{
        width: 100%;
      }

      .footer{
        width: 100%;
      }

      .article-container{
        flex-grow: 1;
      }

      .flexbox-item{
        width: 100%;
      }
}